.logo-bar {
  margin-top: 10px;
    flex-flow: wrap;
  margin-bottom: 10px;
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
  .logo-bar .logo-bar__item {
    width: 25%;
}
.logo-bar .logo-bar__item.title-bottom {
    display: block !important;
    text-align: center;
}
.logo-bar .logo-bar__item.title-bottom .logo-bar__image {
    margin-bottom: 10px;
  width: 90px;
  height: 60px;
}
.product-template__container #product-form .logo-bar .logo-bar__item span {
    margin-left: 5px;
   font-size: 11px;
}
.logo-bar .logo-bar__item.title-bottom span {
    display: block;
}
.logo-bar .logo-bar__item span {
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
}